<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="fabric" type="Microsoft.Fabric.Common.ConfigFile, Microsoft.WindowsFabric.Common" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheClient>
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" />
    <hosts>
      <!--List of services -->
      <host name="MapReduceJSCache.cache.windows.net" cachePort="22233"/>
    </hosts>
  </dataCacheClient>

  <appSettings>
    <add key="idc" value="UseDevelopmentStorage=true"/>
  </appSettings>
  <!--
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 -->
</configuration>
